doctype html
html(lang="en/us")  
    head
        title Church
        link(href='style.css', rel='stylesheet',type="text/css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    body(class="_body")
        main
            nav
                a(href="#groundfloor", onclick="buildingExplode('level0')") <i class="material-icons">layers</i>
                a(href="#groundfloor", onclick="buildingReset()") <i class="material-icons">layers_clear</i>
                a(href="#groundfloor", onclick="buildingReset()") <i class="material-icons">format_color_reset</i>
                a(href="#groundfloor", onclick="buildingOpenAnim()") <i class="material-icons">opacity</i>
                
            div(id='canvas')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
        script(src='script.js')
        script.
            window.addEventListener('load', init, false);
            function init() {
                initScene();
                church = new Building();
                scene.add(church.mesh)

                render();
            }
        
            
            