doctype html
html(lang="en/us")  
    head
        title Church
        link(href='style.css', rel='stylesheet',type="text/css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    body(class="_body")
        main
            include components/ui/nav.pug

                
            div(id='canvas')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
        script(src='script.js')
        script.
            window.addEventListener('load', init, false);
            function init() {
                initScene();
                initNavigation(2);
                church = new Building();
                scene.add(church.mesh)

                render();
            }
        
            
            