doctype html
html(lang="en/us")  
    head
        title Church
        link(href='../../../style.css', rel='stylesheet',type="text/css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    body(class="_body")
        main
            include title.pug
            include nav.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
    script(src='script.js')
    script.
        initNavigation(2,Void);




        
            
            