<!DOCTYPE html>
<html lang="en/us"> 
  <head>
    <title>Church</title>
    <link href="../../../style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="_body">
    <main><nav id="container">
<div id="circle-loader-wrap">
<div class="left-wrap">
<div class="loader" ></div>	
</div>
<div class="right-wrap">
<div class="loader" id="end"></div>
</div>
</div>
</nav>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="script.js"></script>
</html>