nav {
  $size: 100px;
  $bar: 15px;
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 50px;
  &#container {
    //$height : 100px;
    width: $size;
    height: $size;
    margin: 0 auto; //padding: 50px;
    #circle-loader-wrap {
      overflow: hidden;
      position: relative; //margin-top: -10px;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .1) inset;
      background-color: $colorBackgroundDark;
      border-radius: 200px;
      transform: rotate(180deg);
      &:after {
        content: '';
        position: absolute;
        left: $bar;
        top: $bar;
        width: ($size - ($bar*2));
        height: ($size - ($bar*2));
        border-radius: 50%;
        background-color: $colorBackgroundLight;
        box-shadow: 0 0 $bar rgba(0, 0, 0, .2);
      }
      div {
        overflow: hidden;
        position: absolute;
        width: 50%;
        height: 100%;
      }
      .loader {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 1000px;
        background-color: $colorAccent;
      }
      .left-wrap {
        left: 0;
        .loader {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          transform-origin: 0 50% 0; //animation:loading-left 2s linear;
        }
      }
      .right-wrap {
        left: 50%;
        .loader {
          left: -100%;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          transform-origin: 100% 50% 0; //animation:loading-right 2s linear ;
        }
        @keyframes loading-left {
          0% {
            transform: rotate(0deg)
          }
          25% {
            transform: rotate(180deg)
          }
          50% {
            transform: rotate(180deg)
          }
          75% {
            transform: rotate(180deg)
          }
          100% {
            transform: rotate(180deg)
          }
        }
        @keyframes loading-right {
          0% {
            transform: rotate(0deg)
          }
          25% {
            transform: rotate(0deg)
          }
          50% {
            transform: rotate(180deg)
          }
          75% {
            transform: rotate(180deg)
          }
          100% {
            transform: rotate(180deg)
          }
        }
      }
    }
  }
  .circle-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    content: '';
    position: absolute;
    left: $bar;
    top: $bar;
    width: ($size - ($bar*2));
    height: ($size - ($bar*2));
    border-radius: 50%; //background-color:red; 
    box-shadow: 0 0 $bar rgba(0, 0, 0, .2);
    a {
      color:$colorAccent;
      display: block;
      text-align: center;
      line-height:1;
    }
  }
}